In [3]:
import pandas as pd
import numpy as np

In [4]:
hero_game = "Resources/purchase_data.csv"

In [5]:
purchase_data = pd.read_csv(hero_game)

In [6]:
purchase_data.shape

(780, 7)

In [7]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [8]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# Player Count
total = len(purchase_data['SN'].value_counts())

player_count = pd.DataFrame({"Total Players": [total]})
player_count

   Total Players
0            576

In [ ]:
#UNIQUE ITEMS

In [10]:
# Unique Items
total_unique = len(purchase_data['Item Name'].unique())

# Total Revenue
total_revenue = purchase_data['Price'].sum()

#Total number of Purchases
total_purchases = purchase_data['Purchase ID'].count()

#Average Purchase price
x = purchase_data['Price'].mean()

pur_analysis = pd.DataFrame({"Unique Items": [total_unique], 
                             "Total Revenue": [total_revenue], 
                             "Total # of Purchases":[total_purchases], "Average Purchase Price": [x]})
pur_analysis.style.format({"Average Purchase Price": "{:,.2f}"})

In [11]:
#GENDER DEMOGRAPHICS
genders = purchase_data.groupby("Gender")["SN"].nunique()

#Percentage by Gender
percentage = genders / len(purchase_data['SN'].value_counts()) * 100

percent_gender = pd.DataFrame({"Percentage of Players": percentage, 
                               "Total Count": genders})
percent_gender.index.name = None
percent_gender

                       Percentage of Players  Total Count
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11

In [ ]:
#PURCHASING ANALYSIS BY GENDER

In [12]:
gender_demo = purchase_data.groupby("Gender")

In [26]:
#Purchase Count by Gender
purchase_count = gender_demo["Purchase ID"].count()

# Average Purchase Price
average_price = gender_demo["Price"].mean()

#Total Purchase Value
total_purchase = gender_demo["Price"].sum()

#Average Purchase per person by gender
avg_person = total_purchase/genders

gender_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                "Average Purchase Price": average_price, 
                                "Total Purchase": total_purchase, "Avg Purchase/Person by Gender": avg_person})
gender_analysis.style.format({"Avg Purchase/Person by Gender": "${:,.2f}", 
                              "Average Purchase Price": "${:,.2f}", 
                             "Total Purchase": "${:,.2f}"})

In [14]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [15]:
#Age Demographics
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50.9]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [16]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=age_groups)
df = purchase_data.groupby("Age Groups")

total_agect = df["SN"].nunique()
percent_age = total_agect/ len(purchase_data['SN'].value_counts()) * 100

age_demo = pd.DataFrame({"Total Count": total_agect, "Percentage of Players": percent_age})
age_demo.style.format({"Percentage of Players": "{:,.2f}"})

In [ ]:
#PURCHASING ANALYSIS BY AGE

In [17]:
purchase_ct = df["Purchase ID"].count()

# Average Purchase Price
average_pr = df["Price"].mean()

#Total Purchase Value
purchase_value = df["Price"].sum()

#Average Purchase by age group
avg_age = purchase_value/ len(purchase_data['SN'].value_counts())


age_analysis = pd.DataFrame({"Purchase Count": purchase_ct, 
                             "Average Purchase Price": average_pr, 
                             "Total Purchase Value": purchase_value, 
                             "Average Purchase by Age Group": avg_age})
age_analysis.style.format({"Average Purchase Price": "${:,.2f}", 
                           "Average Purchase by Age Group":"{:,.2f}"})

In [18]:
# TOP SPENDERS
top_spenders = purchase_data.groupby("SN")

#Purchase Count
top_purchase = top_spenders["Purchase ID"].count()

#Average Purchase Price
top_price = top_spenders["Price"].mean()

# Total Purchase Value
top_value = top_spenders["Price"].sum()

big_spenders = pd.DataFrame({"Purchase Count": top_purchase, 
                             "Average Purchase Price": top_price, 
                            "Total Purchase Value": top_value})

top_five = big_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_five.style.format({"Average Purchase Price": "${:,.2f}"})

In [ ]:
#MOST POPULAR ITEMS

In [19]:
pop_items = purchase_data.groupby(["Item ID", "Item Name"])

#Purchase Count
popular_ct = pop_items["Purchase ID"].count()

#Total Value
item_value = pop_items["Price"].sum()

#Item Price
item_price = item_value/popular_ct

most_popular = pd.DataFrame({"Purchase Count": popular_ct, 
                             "Item Price": item_price, 
                            "Total Purchase Value": item_value})
most_popular.sort_values(["Purchase Count"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [ ]:
#MOST PROFITABLE

In [20]:
most_popular.sort_values(["Total Purchase Value"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [ ]:
# Three Observations
# 1. The "Most Popular" did not always equate to "Most Profitable" (according to this dataset).
# 2. Total players peaked at age group "20-24" and drastically declined as the age group increased.
# 3. Even though male players are the majority of players in this dataset, they spend the least on average for their purchases.